/* @link https://utopia.fyi/type/calculator?c=375,16,1.2,1440,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap");
:root {
  --step--2: clamp(0.69rem, calc(0.66rem + 0.16vw), 0.80rem);
  --step--1: clamp(0.83rem, calc(0.77rem + 0.25vw), 1.00rem);
  --step-0: clamp(1.00rem, calc(0.91rem + 0.38vw), 1.25rem);
  --step-1: clamp(1.20rem, calc(1.07rem + 0.54vw), 1.56rem);
  --step-2: clamp(1.44rem, calc(1.26rem + 0.77vw), 1.95rem);
  --step-3: clamp(1.73rem, calc(1.48rem + 1.07vw), 2.44rem);
  --step-4: clamp(2.07rem, calc(1.73rem + 1.47vw), 3.05rem);
  --step-5: clamp(2.49rem, calc(2.02rem + 1.99vw), 3.82rem);
}

@-webkit-keyframes pageFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pageFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: #151515;
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  background-image: url(./assets/svg/pattern-circle.svg);
  background-repeat: no-repeat;
  background-position: 300px 200px;
  -webkit-animation: 1s ease-out 0s 1 pageFadeIn;
          animation: 1s ease-out 0s 1 pageFadeIn;
}

.container .page-head {
  background-image: url(./assets/svg/pattern-rings.svg);
  background-size: 400px 120px;
  background-repeat: no-repeat;
  background-position: -130px 80px;
}

.container .page-head .logo-plus-social-media {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .page-head .logo-plus-social-media .logo {
  color: #fefefe;
  font-size: var(--step-1);
  letter-spacing: .2;
  -webkit-animation: 3s ease-out 0s 1 pageFadeIn;
          animation: 3s ease-out 0s 1 pageFadeIn;
}

.container .page-head .logo-plus-social-media .logo p {
  margin-bottom: 0;
}

.container .page-head .logo-plus-social-media .logo p span {
  color: #5fd9a3;
}

.container .page-head .logo-plus-social-media .social-media {
  -webkit-animation: 4s ease-in-out 0s 1 pageFadeIn;
          animation: 4s ease-in-out 0s 1 pageFadeIn;
}

.container .page-head .logo-plus-social-media .social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

.container .page-head .logo-plus-social-media .social-media ul li {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: 17px 17px;
  margin: 0 6px 0 6px;
}

.container .page-head .logo-plus-social-media .social-media ul .git {
  background-image: url(./assets/svg/icon-github.svg);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.container .page-head .logo-plus-social-media .social-media ul .git:hover {
  -webkit-filter: drop-shadow(0px 0px 5px #5fd9a3);
          filter: drop-shadow(0px 0px 5px #5fd9a3);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.container .page-head .logo-plus-social-media .social-media ul .linkedIn {
  background-image: url(./assets/svg/icon-linkedin.svg);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.container .page-head .logo-plus-social-media .social-media ul .linkedIn:hover {
  -webkit-filter: drop-shadow(0px 0px 5px #5fd9a3);
          filter: drop-shadow(0px 0px 5px #5fd9a3);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.container .page-head .logo-plus-social-media .social-media ul .frontendMentor {
  background-image: url(./assets/svg/icon-frontend-mentor.svg);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.container .page-head .logo-plus-social-media .social-media ul .frontendMentor:hover {
  -webkit-filter: drop-shadow(0px 0px 5px #5fd9a3);
          filter: drop-shadow(0px 0px 5px #5fd9a3);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.container .page-head .logo-plus-social-media .social-media ul .twitter {
  background-image: url(./assets/svg/icon-twitter.svg);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.container .page-head .logo-plus-social-media .social-media ul .twitter:hover {
  -webkit-filter: drop-shadow(0px 0px 5px #5fd9a3);
          filter: drop-shadow(0px 0px 5px #5fd9a3);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.container .page-head .head-image {
  background-image: url(./assets/images/claudiu_vladean.jpg);
  height: 200px;
  width: 200px;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
  margin: 0 auto;
}

.container .page-head .head-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 30px 0 30px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
  border-bottom: 1px solid #fefefe;
}

.container .page-head .head-intro h1 {
  font-size: var(--step-4);
  color: #fefefe;
  font-weight: normal;
}

.container .page-head .head-intro h1 span {
  text-decoration: underline;
  -webkit-text-decoration-color: #5fd9a3;
          text-decoration-color: #5fd9a3;
}

.container .page-head .head-intro p {
  color: #cdcdcd;
  font-weight: normal;
  font-size: var(--step--1);
  line-height: var(--step-2);
}

.container .page-head .head-intro h2 {
  font-size: var(--step-0);
  color: #fefefe;
  font-weight: normal;
  letter-spacing: 1px;
  border-bottom: 2px solid #5fd9a3;
  width: 110px;
  padding-bottom: 5px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  opacity: .8;
  cursor: pointer;
}

.container .page-head .head-intro h2:hover {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  opacity: 1;
}

.container .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url(./assets/svg/pattern-rings.svg);
  background-size: 400px 120px;
  background-repeat: no-repeat;
  background-position: 200px 500px;
  padding-bottom: 28px;
}

.container .skills .skill .skill-title {
  color: white;
  font-size: 30px;
  margin-bottom: 0;
  font-weight: normal;
}

.container .skills .skill .skill-experience {
  color: #cdcdcd;
  margin: 0;
  font-size: 15px;
  opacity: .8;
}

.container .skills .skills-divider {
  border-top: 1px solid #fefefe;
  margin: 30px;
  width: 82%;
}

.container .projects {
  margin: 10px 30px 30px 30px;
}

.container .projects .projects-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .projects .projects-head h2 {
  color: #fefefe;
  margin: 0;
  font-size: 30px;
  font-weight: normal;
}

.container .projects .projects-head .head-contact-button {
  font-size: var(--step-0);
  color: #fefefe;
  font-weight: normal;
  letter-spacing: 1px;
  border-bottom: 2px solid #5fd9a3;
  padding-bottom: 8px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  opacity: .8;
  cursor: pointer;
  font-size: 15px;
}

.container .projects .projects-head .head-contact-button:hover {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  opacity: 1;
}

.container .projects .projects-components .project {
  width: 100%;
  margin: 20px 0 20px 0;
}

.container .projects .projects-components .project .project-image {
  width: 100%;
}

.container .projects .projects-components .project .project-title {
  color: #fefefe;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 0;
}

.container .projects .projects-components .project .project-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .projects .projects-components .project .project-skills p {
  text-transform: uppercase;
  color: #cdcdcd;
  margin-right: 15px;
  font-weight: lighter;
}

.container .projects .projects-components .project .project-sources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .projects .projects-components .project .project-sources a {
  text-decoration: none;
  margin-right: 20px;
}

.container .projects .projects-components .project .project-sources a h2 {
  text-transform: uppercase;
  margin-top: 0;
  font-size: var(--step-0);
  color: #fefefe;
  font-weight: normal;
  letter-spacing: 1px;
  border-bottom: 2px solid #5fd9a3;
  padding-bottom: 8px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  opacity: .8;
  cursor: pointer;
  font-size: 14px;
}

.container .projects .projects-components .project .project-sources a h2:hover {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  opacity: 1;
}
/*# sourceMappingURL=index.css.map */