/* @link https://utopia.fyi/type/calculator?c=375,16,1.2,1440,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
//font import and declared
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');
$SopaceGrotesk: 'Space Grotesk', sans-serif; 



//fonts scale clamps
:root {
    --step--2: clamp(0.69rem, calc(0.66rem + 0.16vw), 0.80rem);
    --step--1: clamp(0.83rem, calc(0.77rem + 0.25vw), 1.00rem);
    --step-0: clamp(1.00rem, calc(0.91rem + 0.38vw), 1.25rem);
    --step-1: clamp(1.20rem, calc(1.07rem + 0.54vw), 1.56rem);
    --step-2: clamp(1.44rem, calc(1.26rem + 0.77vw), 1.95rem);
    --step-3: clamp(1.73rem, calc(1.48rem + 1.07vw), 2.44rem);
    --step-4: clamp(2.07rem, calc(1.73rem + 1.47vw), 3.05rem);
    --step-5: clamp(2.49rem, calc(2.02rem + 1.99vw), 3.82rem);
  }

//colours
$DarkGray: #151515;
$Cyan: #5fd9a3;
$White: #fefefe;
$LightGray: #cdcdcd;

//animate fade from 0 opacity 
@keyframes pageFadeIn {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}

body {
    background-color: ($DarkGray);
    font-family: $SopaceGrotesk;
    margin: 0;
    padding: 0;
}

.container {    
    background-image: url(./assets/svg/pattern-circle.svg);
    background-repeat: no-repeat;
    background-position: 300px 200px ;
    animation: 1s ease-out 0s 1 pageFadeIn;

    .page-head {
        background-image: url(./assets/svg/pattern-rings.svg);
        background-size: 400px 150px;
        background-repeat: no-repeat;
        background-position: -130px 80px ;
        

        .logo-plus-social-media {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;

            .logo {
                color: $White;
                font-size: var(--step-1);
                letter-spacing: .2;
                animation: 3s ease-out 0s 1 pageFadeIn;

                p {
                    margin-bottom: 0;
                    // text-shadow: $Cyan 1px 0 20px;

                    span {
                        color: $Cyan;
                        // text-shadow: $White 1px 0 20px;
                    }
                }
            }

            .social-media {
                animation: 4s ease-in-out 0s 1 pageFadeIn;
                ul{
                    display: flex;
                    list-style: none;
                    padding: 0;
                    
                    li {
                        height: 20px;
                        width: 20px;
                        background-repeat: no-repeat;
                        background-size: 17px 17px;
                        margin: 0 6px 0 6px;
                    }

                    .git {
                        background-image: url(./assets/svg/icon-github.svg);
                        transition: .2s ease-in-out;
                    }

                    .git:hover {
                        filter: drop-shadow( 0px 0px 5px $Cyan);
                        transition: .2s ease-in-out;
                        
                    }

                    .linkedIn {
                        background-image: url(./assets/svg/icon-linkedin.svg);
                        transition: .2s ease-in-out;
                    }

                    .linkedIn:hover {
                        filter: drop-shadow( 0px 0px 5px $Cyan);
                        transition: .2s ease-in-out;
                        
                    }

                    .frontendMentor {
                        background-image: url(./assets/svg/icon-frontend-mentor.svg);
                        transition: .2s ease-in-out;
                    }

                    .frontendMentor:hover {
                        filter: drop-shadow( 0px 0px 5px $Cyan);
                        transition: .2s ease-in-out;
                        
                    }

                    .twitter {
                        background-image: url(./assets/svg/icon-twitter.svg);
                        transition: .2s ease-in-out;
                    }

                    .twitter:hover {
                        filter: drop-shadow( 0px 0px 5px $Cyan);
                        transition: .2s ease-in-out;
                        
                    }
                }
            }

            
        }
        .head-image {
            background-image: url(./assets/images/claudiu_vladean.jpg);
            height: 200px;
            width: 200px;
            background-size: 200px 200px;
            background-repeat: no-repeat;
            border-radius: 50%;
            background-position: center;
            margin: 0 auto;
        }
        .head-intro {
            display: flex;
            flex-direction: column;
            margin: 0 30px 0 30px;
            text-align: center;
            align-items: center;
            

            h1 {
                font-size: var(--step-4);
                color: $White;
                font-weight: normal;
                span {
                    text-decoration: underline;
                    text-decoration-color: $Cyan;
                }
            }

            p {
                color: $LightGray;
                font-weight: normal;
                font-size: var(--step--1);
                line-height: var(--step-2);
            }

            h2 {
                font-size: var(--step-0);
                color: $White;
                font-weight: normal;
                letter-spacing: 1px;
                border-bottom: 2px solid $Cyan;
                width: 110px;
                padding-bottom: 5px;
                transition: .2s ease-in-out;
                opacity: .8;
            }

            h2:hover {
                transition: .2s ease-in-out;
                cursor: pointer;
                opacity: 1;
            }

        }
    }
}


