@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
//font family
$Space-Mono: 'Space Mono', monospace;
//Primary colours
$Strong-Cyan: hsl(172, 67%, 45%);

//Neutral colours
$Very-Dark-Cyan: hsl(183, 100%, 15%);
$Dark-Grayish-Cyan: hsl(186, 14%, 43%);
$Grayish-Cyan: hsl(184, 14%, 56%);
$Light-Grayish-Cyan: hsl(185, 41%, 84%);
$Very-Light-Grayish-Cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

body {
    margin: 0;
    padding: 0;
    font-family: $Space-Mono;
    background-color: $Light-Grayish-Cyan;
}

.container {
    width: 375px;
    margin: 0 auto;
    h1 {
        margin: 40px 0 40px 0;
        text-align: center;
        color: $Dark-Grayish-Cyan;
        font-size: 23px;
        letter-spacing: 7px;
        
    }

    .main-app {
        background-color: $White;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 30px;
        border-radius: 20px 20px 0 0;

        .headings {
            margin-bottom: 5px;
            color: $Dark-Grayish-Cyan;
            margin-bottom: 10px;
        }

        .main-tip {
            grid-column: 1/3;
            margin-bottom: 20px;
 
            .bill-input {
                border: none;
                background-color: $Very-Light-Grayish-Cyan;
                font-size: 24px;
                text-align:right;
                font-family: $Space-Mono;
                color: $Very-Dark-Cyan;
                background-image: url(./assets/icon-dollar.svg);
                background-repeat: no-repeat;
                background-position: 20px center;
                width: 100%;
                // direction and indentation used to add space to the text inside the input from the right
                text-indent: 10px;
                direction:rtl;
                height: 50px;
                border-radius: 5px;
            }
        }

        .main-select-tip {
            grid-column: 1/3;
            margin-bottom: 20px;

            .tip-selections {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;  
                list-style: none;
                padding: 0;

                li {
                    float:left;
                    height: 50px;
                    position: relative;
                    background-color: $Very-Dark-Cyan;
                    border-radius: 10px; 
                    text-align: center;
                    color: $White;
                    font-size: 24px;
                    
                }

                label, input {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom:0;
                    margin: 0;
                }

                input[type="radio"] {
                    opacity: 0.0;
                    z-index: 100;
                }

                input[type="radio"]:checked + label {
                    background: $Strong-Cyan;
                    color: $Very-Dark-Cyan;
                }

                label {
                    padding: 6px;
                    border-radius: 10px;    
                    cursor: pointer;
                    z-index: 90;
                }

    
                input{
                    border: none;
                    background-color: $Very-Light-Grayish-Cyan;
                    text-align:right;
                    font-size: 24px;
                    font-family: $Space-Mono;
                    color: $Very-Dark-Cyan;
                    border-radius: 5px;
                    width: 100%;
                    // direction and indentation used to add space to the text inside the input from the right
                    text-indent: 10px;
                    direction:rtl;
                }
            }
        }

        .main-number-people {
            grid-column: 1/3;  
            margin-bottom: 20px;
            
            .people-input {
                border: none;
                background-color: $Very-Light-Grayish-Cyan;
                font-size: 24px;
                text-align:right;
                font-family: $Space-Mono;
                color: $Very-Dark-Cyan;
                background-image: url(./assets/icon-person.svg);
                background-repeat: no-repeat;
                background-position: 20px center;
                width: 100%;
                // direction and indentation used to add space to the text inside the input from the right
                text-indent: 10px;
                direction:rtl;
                height: 50px;
                border-radius: 5px;
            }
        }

        .final-cost-rest {
            display: flex;
            flex-direction: column;
            height: 200px;
            background-color: $Very-Dark-Cyan;
            padding: 15px;
            border-radius: 15px;
            width: 100%;
            div {
                color: $White;
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            
        }
    }
}